<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<p>name  　　　<%= user.name %></p>
<p>introduction 　　　<%= user.introduction %></p>
<%= link_to edit_user_path(user) do %>
 <i class="fas fa-user-cog"></i>
<% end %>


<!-/bookers2/app/views/books/new.html.erb--->

<h1>New book</h1>
<%= form_with model: book do |f| %>
  <label for="inputTitle">Title</label></br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル"%></br>
  <label for="inputBody">Opinion</label></br>
  <%= f.text_field :body, placeholder: "感想", id:"inputBody" %></br>  
  <%= f.submit "Create Book" %>
<% end %>